.page-data{
    /* height: 100%; */
    background:url("/imgs/bg.jpg") no-repeat;
    background-size: cover;
}
/* 页面头部样式 */
.page-data .head{
    height: 1.25rem;
    background: url("/imgs/head_bg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.page-data .head h1{
    font-size: .475rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 1rem;
}
.page-data .head .show-time{
    position: absolute;
    right: .375rem;
    font-size: .25rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: .9375rem;
    top: 0;
}
/* 页面数据样式 */
.page-data .box-data{
    padding: .125rem .125rem 0;
    display: flex;
}
.page-data .box-data .box-3{
    flex: 3;
}
.page-data .box-data .box-center{
    flex: 5;
}
/* 两侧侧图表样式 */
.page-data .box-data .box-3 .box{
    height: 3.875rem;
    border: 1px solid rgba(25, 186, 139, 0.17);
    padding: 0 .1875rem .5rem;
    background: url("/imgs/line.png");
    margin-bottom: .1875rem;
    position: relative;
    background-color:rgba(255, 255, 255, 0.05);
}
.page-data .box-data .box-3 .box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:10px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
}
.page-data .box-data .box-3 .box::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width:10px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
}
.page-data .box-data .box-3 .box .border-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.page-data .box-data .box-3 .box .border-footer::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width:10px;
    height: 10px;
    border-bottom: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
}
.page-data .box-data .box-3 .box .border-footer::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width:10px;
    height: 10px;
    border-bottom: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
}
.page-data .box-data .box-3 .box h2{
    font-size: 0.25rem;
    color: #fff;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
}
.page-data .box-data .box-3 .box .year{
    position: absolute;
    top: .25rem;
    right: 0;
}
.page-data .box-data .box-3 .box .year a{
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.2rem;
    outline: 0;
    margin-right: .125rem;
}
.page-data .box-data .box-3 .box .year .active{
    color: #fff;
}
.page-data .box-data .box-3 .box .chart{
    height: 3rem;
}
/* 中间部分-上方数字显示 */
.page-data .box-data .box-center{
    padding: 0 .125rem;
}
.page-data .box-data .box-center .num{
    padding: .1875rem;
    background-color: rgba(101, 132, 226, 0.1);
}
.page-data .box-data .box-center .num>ul{
    display: flex;
    border: 1px solid rgba(25, 186, 139, 0.17);
    position: relative;
}
.page-data .box-data .box-center .num>ul::before{
    content: "";
    width: 30px;
    height: 10px;
    border-top: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
    position: absolute;
    top: 0;
    left: 0;
}
.page-data .box-data .box-center .num>ul::after{
    content: "";
    width: 30px;
    height: 10px;
    border-bottom: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
    position: absolute;
    bottom: 0;
    right: 0;
}
.page-data .box-data .box-center .num>ul>li{
    flex: 1;
    height: 1rem;
    font-size: .875rem;
    color: #ffeb7b;
    text-align: center;
    font-family: electronicFont;
    position: relative;
}
.page-data .box-data .box-center .num .after::after{
    content: "";
    width: 1px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    top: 25%;
}
.page-data .box-data .box-center .num div{
    display: flex;
}
.page-data .box-data .box-center .num div p{
    height: .5rem;
    color: rgba(255, 255, 255, 0.7);
    flex: 1;
    text-align: center;
    font-size: .225rem;
    padding-top: .1875rem;
}
/* 中间下方地图数据 */
.page-data .box-data .box-center .map{
    position: relative;
    height: 10.125rem;
    overflow: hidden;
}
.page-data .box-data .box-center .map .chart{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 10.125rem;
    width: 100%;
}
.page-data .box-data .box-center .map .bg1,
.page-data .box-data .box-center .map .bg2,
.page-data .box-data .box-center .map .bg3{
    position: absolute;
    width: 6.475rem;
    height: 6.475rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url("/imgs/map.png") no-repeat;
    background-size: 100% 100%;
    opacity: 0.3;
}
.page-data .box-data .box-center .map .bg2{
    width: 8.0375rem;
    height: 8.0375rem;
    background-image: url("/imgs/lbx.png");
    opacity: 0.5;
    animation: xuanzhuan1 12s linear infinite;
    z-index: 3;
}
.page-data .box-data .box-center .map .bg3{
    width: 7.075rem;
    height: 7.075rem;
    background-image: url("/imgs/jt.png");
    animation: xuanzhuan2 12s linear infinite;
    opacity: 0.7;
}
/* 背景动画 */
@keyframes xuanzhuan1{
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes xuanzhuan2{
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}